.jb-footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  color: white;
  padding: 1em;
  margin: auto;
  background: black;
  ul{
    display: flex;
    padding: 0;
    list-style-type: none;
  }
  li{
    margin-right: 1em;
    height: 85px;
  }
  a{
    display: inline-block;
    height: 85px;
    width: 85px;
    border-radius: 25%;
    font-size: 1em;
  }
  img{
    height: 85px;
    width: 85px;
  }
  &__inner{
    max-width: $max-width;
    margin: auto;
    text-align: center;
  }
}
