/*=================================
Fonts
=================================*/

$heading-font: "Staatliches", Arial, sans-serif;
$paragraph-font: "Cutive", Arial, sans-serif;

/*=================================
Colors
=================================*/
$primary-color: #00b7b5;
$secondary-color: #09B852;

/*=================================
Breakpoints
=================================*/
$breakpoint-small: 789px;
$breakpoint-med: 1024px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1440px;

/*=================================
Spacing
=================================*/
$padding-unit: 16px;
$max-width: 1200px;

$bgWidth: 10000px;
